@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap");
a:hover, .letter-spaced:hover, .link:hover {
  cursor: ne-resize !important;
}

.g-cursor {
  z-index: 100 !important;
  position: absolute;
}
.g-cursor_hide {
  opacity: 1;
  /*width: 60px;
  height: 60px;*/
  transition: width 0.6s ease, height 0.6s ease, opacity 0.6s ease;
}
.g-cursor__circle {
  pointer-events: none;
  user-select: none;
  top: 0;
  left: 0;
  position: fixed;
  width: 30px;
  height: 30px;
  /*border: 2px solid #383838;*/
  border-radius: 100%;
  z-index: 5555;
  backface-visibility: hidden;
  transition: opacity 0.6s ease;
}
.g-cursor__point {
  top: 0;
  left: 0;
  position: fixed;
  width: 10px;
  height: 10px;
  pointer-events: none;
  user-select: none;
  border-radius: 100%;
  background: #383838;
  z-index: 55555555;
  backface-visibility: hidden;
  will-change: transform;
}
.g-cursor_hover .g-cursor__circle {
  opacity: 0;
  width: 60px;
  height: 60px;
  transition: width 0.6s ease, height 0.6s ease, opacity 0.6s ease;
}

.g-cursor, .g-cursor__circle {
  mix-blend-mode: difference;
}

.g-cursor__circle {
  background: #fff !important;
  border: none;
}

.scroll-down a, .scroll-down::after, .scroll-down::before {
  color: white;
  border-color: #fff !important;
}

.scroll-down {
  position: absolute;
  height: 50px;
  width: 50px;
  left: 50%;
  cursor: pointer;
  transform: translateX(-50%);
  bottom: 20px;
  z-index: 1;
  text-align: center;
}

.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  border: solid 2px #383838;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down ease-in-out 1s infinite;
}

.scroll-down::after {
  top: 30%;
  animation-delay: 0.3s;
}

.scroll-down a {
  position: relative;
  top: -19px !important;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-size: 11px;
}

a.nav {
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  margin-right: 2rem;
  user-select: none;
  color: #383838;
  font-size: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
a.nav span.nav-item {
  font-size: 13px;
  padding: 0;
  letter-spacing: 0.4rem;
  margin: 0;
  display: inline-block;
  position: relative;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 250ms;
  padding: 0 0.1em;
}
a.nav span.nav-item:nth-child(0n) {
  transition-delay: 0ms;
}
a.nav span.nav-item:nth-child(0n):after {
  transition-delay: 0ms;
}
a.nav span.nav-item:nth-child(1n) {
  transition-delay: 83.3333333333ms;
}
a.nav span.nav-item:nth-child(1n):after {
  transition-delay: 83.3333333333ms;
}
a.nav span.nav-item:nth-child(2n) {
  transition-delay: 166.6666666667ms;
}
a.nav span.nav-item:nth-child(2n):after {
  transition-delay: 166.6666666667ms;
}
a.nav span.nav-item:nth-child(3n) {
  transition-delay: 250ms;
}
a.nav span.nav-item:nth-child(3n):after {
  transition-delay: 250ms;
}
a.nav span.nav-item:after {
  padding: 0;
  margin: 0;
  content: "";
  position: absolute;
  top: 100%;
  left: -1%;
  width: 103%;
  height: 0.5rem;
  background: #FF8C1A;
  transform-origin: top center;
  transform: scaley(0);
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 250ms;
}
a.nav:hover span {
  transform: translateY(-0.25rem);
}
a.nav:hover span:after {
  transform: scaleY(0.9);
}
a.nav:active span {
  transform: translateY(0);
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 125ms;
  transition-delay: 0s !important;
}
a.nav:active span:after {
  transform: scaleY(0.5);
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 125ms;
  transition-delay: 0s !important;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background .rotate {
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  width: 400px;
  height: 400px;
  transform-style: preserve-3d;
  animation: rotate 20s linear forwards infinite;
  zoom: 3.5;
}

.background .rotate .sphere {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.background .rotate .sphere span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  background: radial-gradient(#aaa, #fff);
  border-radius: 50%;
}

.background .rotate .sphere span:nth-child(1) {
  transform: rotateY(0deg);
}

.background .rotate .sphere span:nth-child(2) {
  transform: rotateY(30deg);
}

.background .rotate .sphere span:nth-child(3) {
  transform: rotateY(60deg);
}

.background .rotate .sphere span:nth-child(4) {
  transform: rotateY(90deg);
}

.background .rotate .sphere span:nth-child(5) {
  transform: rotateY(120deg);
}

.background .rotate .sphere span:nth-child(6) {
  transform: rotateY(150deg);
}

.background .rotate .sphere:nth-child(2) {
  transform: rotate(90deg);
}

.background .rotate .sphere:nth-child(3) {
  transform: rotate(45deg);
}

.background .rotate .sphere:nth-child(4) {
  transform: rotate(-45deg);
}

@keyframes rotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}
@keyframes reveal {
  from {
    text-indent: -9999px;
  }
  to {
    text-indent: 0;
  }
}
@keyframes revealReverse {
  from {
    text-indent: 9999px;
  }
  to {
    margin-left: 6rem;
  }
}
.before-enter {
  opacity: 0;
  transform: translateY(60px);
  /*color: #ff8c1a!important;*/
  transition: all 1.2s ease-out;
}

h1.before-enter {
  opacity: 0;
  top: 55% !important;
  transition: all 1s ease-out;
}

h1.enter {
  opacity: 1;
  top: 50% !important;
}

p.before-enter, blockquote.enter {
  transition-delay: 0.2s;
}

.enter {
  opacity: 1;
  transform: translateY(0px);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: #383838;
}
*::before, *::after {
  box-sizing: border-box;
}

h1 {
  color: #383838;
  font-family: "Playfair Display", serif !important;
  /*font-weight: 700 !important;*/
  font-weight: 400 !important;
  font-size: 190px;
}

h2 {
  font-size: 100px;
  color: #383838;
  font-weight: 400;
  font-family: "Playfair Display", serif !important;
  opacity: 0.1;
}

h3 {
  font-family: "Open Sans", sans-serif;
  /*font-weight: normal;*/
  font-size: 30px;
  margin-bottom: 3rem;
  color: #383838;
  font-weight: 700;
  transition: letter-spacing 0.2s ease-in-out !important;
  letter-spacing: 0;
  transform-origin: left;
}

h3:hover {
  letter-spacing: 0.2rem;
  transition: letter-spacing 0.2s ease-in-out;
  transform-origin: left;
}

h3.link {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
h3.link::before {
  position: absolute;
  content: attr(data-content);
  top: 0;
  left: 0;
  width: 0;
  /*color: $color-orange;*/
  white-space: nowrap;
  overflow: hidden;
  transition: width 275ms ease;
  text-decoration: underline;
}
h3.link:hover::before {
  width: 100%;
}

h4 {
  font-weight: 600;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  position: relative;
  font-size: 1.2rem;
  opacity: 0.3 !important;
}

a {
  text-decoration: none;
}

p {
  font-family: "Open Sans", sans-serif;
  /*font-weight: 600;*/
  line-height: 1.5rem;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

li {
  list-style: none;
}

.bolder {
  font-weight: bolder;
  padding-top: 0;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  opacity: 1 !important;
  position: static;
  padding-left: 0.5rem;
}

.letter-spaced {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.4em;
  text-decoration: none;
  font-weight: 800;
  color: #383838;
}

.arrow {
  position: relative;
  top: 5px;
  left: -5px;
  width: 25px;
}

#logo p {
  font-family: "Open Sans", sans-serif;
  font-size: 11px !important;
  text-transform: uppercase !important;
  color: #AAAAAA !important;
  font-weight: 800 !important;
  letter-spacing: 0.4em;
  margin-bottom: 0 !important;
}

#logo {
  top: 35px !important;
  position: fixed !important;
  width: fit-content;
  left: 2rem;
  z-index: 8;
}

.block {
  display: block !important;
}

.flex {
  display: flex !important;
}

.flex-b {
  flex-basis: 50% !important;
  max-width: 50% !important;
}

#networks a {
  color: #383838;
}

.my_project .container-img {
  max-width: 100%;
  width: 100%;
}

.my_project .container-img img {
  max-width: 100%;
}

.my_project #background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.my_project h1 {
  max-width: 100%;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  z-index: -1;
}

.my_project #container {
  background: white;
  position: absolute;
  top: 100vh;
  left: 0;
  right: 0;
  height: fit-content;
  padding: 2rem 15% 5rem;
}

.my_project #container div {
  display: flex;
}

.my_project #container div > div.title {
  display: block;
}

.my_project #container div > div a h3 {
  margin-top: 1rem;
}

.my_project #container ul {
  margin-left: auto;
  margin-bottom: 0;
  text-align: right;
  align-items: center;
  position: relative;
  top: -45px;
}

.my_project #container ul li {
  opacity: 0.5;
  padding-bottom: 5px;
}

.my_project h2 {
  position: relative;
  /* top: 50px;*/
  top: 45px;
}

/*.my_project p {
  font-size: 1rem;
  margin-bottom: 2rem;

}*/
.my_project .btn-projets {
  justify-content: center;
  text-align: center;
  padding-bottom: 3rem;
  padding-top: 5rem;
}

.my_project .btn-projets a {
  padding-left: 3rem;
  text-transform: uppercase;
  font-size: 15px;
  padding-right: 3rem;
}

.my_project .btn-projets img {
  width: 30px;
  margin-left: 1rem;
  margin-right: 1rem;
  transition: 0.2s ease-in-out all;
  opacity: 0.5;
}

.my_project .btn-projets a:hover img {
  opacity: 1;
  transition: 0.2s ease-in-out all;
  transform: translateX(-10px);
}

.my_project .btn-projets a:nth-child(2):hover img {
  transform: translateX(10px);
}

.my_project .btn-projets img {
  position: static !important;
}

@media screen and (max-width: 576px) {
  .scroll-down {
    bottom: 45px !important;
  }

  .g-cursor {
    display: none;
  }

  .background .rotate {
    zoom: 2 !important;
    width: 40px !important;
    top: calc(50% - 200px);
    left: calc(50% - 20px) !important;
  }

  .background .rotate .sphere span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    background: radial-gradient(#ccc, #fff) !important;
    border-radius: 50%;
  }

  * {
    cursor: auto !important;
  }

  h1 {
    max-width: 100% !important;
    font-size: 70px;
  }

  h2 {
    font-size: 90px;
  }

  #home > div:nth-child(1) > h2, #home > div:nth-child(1) > p {
    font-size: 60px;
  }

  h3 {
    font-size: 30px !important;
  }

  p {
    font-size: 1rem !important;
  }

  .open-menu {
    left: 0 !important;
    background: #383838 !important;
  }

  #networks {
    display: none !important;
  }

  .menu-networks {
    top: 150px !important;
  }

  #skater {
    left: 50% !important;
    transform: translateX(-50%) !important;
    opacity: 0.4;
    width: 450px !important;
    top: 10% !important;
    /*display: block;*/
    max-width: 100% !important;
    display: none;
  }

  #skater .cls-1 {
    /*stroke: $color-orange !important;*/
  }

  #home-menu {
    left: 50% !important;
    transform: translateX(-50%) !important;
    text-align: center !important;
    top: 30% !important;
    width: 100%;
  }

  #home-menu h1 {
    max-width: 100% !important;
    font-size: 120px;
  }

  #home-menu ul:first-of-type {
    display: flex !important;
  }

  #home-menu ul:last-of-type {
    display: none !important;
  }

  #home-menu ul {
    justify-content: center;
    max-width: 100% !important;
    /*padding-left: 2rem;
    padding-right: 2rem;*/
    margin: 0;
  }

  #home-menu ul li {
    text-align: center !important;
  }

  #about h1, #about h1 span {
    font-size: 100px !important;
  }

  /*#about .deuxiemeTitre{
    margin-top: 0;
    animation: none
  }*/
  /* #about .title{
     !*display: flex !important;*!
     animation: forwards ease 1.5s reveal;
     text-align: center;
   }*/
  #presentation {
    display: block !important;
    padding: 2rem !important;
  }

  #presentation div:first-of-type {
    flex-basis: 100% !important;
  }

  #presentation div:last-of-type {
    flex-basis: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    justify-content: center;
  }

  #presentation h2 {
    top: 20px;
  }

  #presentation > div:nth-child(2) > div h3 {
    margin-bottom: 1rem;
  }

  #presentation > div:nth-child(2) > div {
    display: block !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  #techno .tech {
    margin: 20px !important;
  }

  #techno p {
    padding-left: 0 !important;
  }

  #logo {
    left: 1rem;
    top: 1rem !important;
  }

  .my_project #container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .my_project #container div {
    display: block !important;
  }

  .my_project #container div ul {
    text-align: left;
    margin-bottom: 3rem;
    position: static;
  }

  .my_project h2 {
    font-size: 52px;
    top: 31px !important;
  }

  .my_project h2.mobil {
    display: block !important;
  }

  .my_project h2.desktop {
    display: none !important;
  }

  .my_project .btn-projets span {
    /* display: !important;*/
  }

  .my_project .btn-projets {
    justify-content: center;
    text-align: right;
    padding-bottom: 3rem;
    padding-top: 5rem;
    width: fit-content;
    margin-left: auto;
  }

  .my_project .btn-projets a {
    padding-left: 3rem;
    padding-right: 0 !important;
    font-size: 15px;
  }

  .my_project .btn-projets img {
    width: 30px;
    margin-left: 0rem !important;
    margin-right: 1rem !important;
    transition: 0.2s ease-in-out all;
    opacity: 1;
  }

  .my_project .btn-projets img {
    position: static !important;
  }

  .flex-b {
    flex-basis: 100% !important;
    max-width: 100% !important;
  }

  #motion-snk #container > div:nth-child(3) {
    display: block !important;
  }

  #motion-snk #container > div:nth-child(3) div {
    width: 100% !important;
  }

  #motion-snk #container div:nth-child(3) div:nth-child(2) {
    padding-left: 0 !important;
  }

  #motion-snk img.snk {
    max-width: 70%;
  }

  #motion-snk #container > div.video > video {
    width: 100% !important;
    max-width: 100%;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .g-cursor {
    display: none;
  }

  * {
    cursor: auto !important;
  }

  .background .rotate {
    zoom: 2 !important;
    width: 40px !important;
    top: calc(50% - 200px);
    left: calc(50% - 20px) !important;
  }

  .background .rotate .sphere span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    background: radial-gradient(#ccc, #fff) !important;
    border-radius: 50%;
  }

  h1 {
    max-width: 100% !important;
    font-size: 90px;
  }

  h2 {
    font-size: 100px;
  }

  #home > div:nth-child(1) > h2, #home > div:nth-child(1) > p {
    font-size: 60px;
  }

  h3 {
    font-size: 35px !important;
  }

  .open-menu {
    left: 20% !important;
    background: #383838 !important;
  }

  #networks {
    display: none !important;
  }

  .menu-networks {
    top: 200px !important;
  }

  #skater {
    left: 50% !important;
    transform: translateX(-50%) !important;
    opacity: 0.4;
    width: 500px !important;
    top: 10% !important;
    max-width: 100% !important;
    display: none;
  }

  #skater .cls-1 {
    /*stroke: $color-orange !important;*/
  }

  #home-menu {
    left: 50% !important;
    transform: translateX(-50%) !important;
    text-align: center !important;
    top: 30% !important;
    width: 100%;
  }

  #home-menu h1 {
    /*padding-left: 1rem!important;
    padding-right: 1rem;*/
    max-width: 100% !important;
    /*   margin-left: 2.5%;
       margin-right: 2.5%;*/
    font-size: 120px;
  }

  #home-menu ul:first-of-type {
    display: flex !important;
  }

  #home-menu ul:last-of-type {
    display: none !important;
  }

  #home-menu ul {
    justify-content: center;
    max-width: 100% !important;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0;
  }

  #home-menu ul li {
    text-align: center !important;
  }

  #about h1, #about h1 span {
    font-size: 120px !important;
  }

  #about h3.link {
    margin-left: 0 !important;
  }

  #presentation {
    display: block !important;
    padding: 2rem !important;
  }

  #presentation div:first-of-type {
    flex-basis: 100% !important;
  }

  #presentation div:last-of-type {
    flex-basis: 100% !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    justify-content: center;
  }

  #presentation h2 {
    top: 20px;
  }

  #presentation > div:nth-child(2) > div h3 {
    margin-bottom: 1rem;
  }

  #presentation > div:nth-child(2) > div {
    display: block !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  #techno h3 {
    margin-left: 0 !important;
  }

  #logo {
    left: 1rem;
    top: 1rem !important;
  }

  .my_project #container div {
    display: block !important;
  }

  .my_project #container div ul {
    text-align: left;
    margin-bottom: 3rem;
  }

  .my_project h2 {
    font-size: 80px;
    top: 36px;
  }

  .my_project h2.mobil {
    display: block !important;
  }

  .my_project h2.desktop {
    display: none !important;
  }

  .flex-b {
    flex-basis: 100% !important;
    max-width: 100% !important;
  }

  #motion-snk #container > div:nth-child(3) {
    display: block !important;
  }

  #motion-snk #container > div:nth-child(3) div {
    width: 100% !important;
  }

  #motion-snk #container div:nth-child(3) div:nth-child(2) {
    padding-left: 0 !important;
  }

  #motion-snk img.snk {
    max-width: 70%;
  }

  #motion-snk #container > div.video > video {
    width: 100% !important;
    max-width: 100%;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  #home > div:nth-child(1) > h2, #home > div:nth-child(1) > p {
    font-size: 70px;
  }

  .open-menu {
    left: 20% !important;
  }

  .background .rotate {
    zoom: 2 !important;
    width: 40px;
    left: calc(50% - 20px);
  }

  .background .rotate .sphere span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    background: radial-gradient(#ccc, #fff) !important;
    border-radius: 50%;
  }

  #skater {
    opacity: 0.6 !important;
    display: none;
  }

  #home-menu ul {
    justify-content: center;
  }

  #networks {
    display: flex !important;
  }

  .menu-networks {
    top: 200px !important;
  }

  #about h1, #about h1 span {
    font-size: 190px !important;
    font-weight: 400;
  }

  #presentation {
    display: block !important;
    padding: 2rem !important;
  }

  #presentation div:nth-child(1) {
    flex-basis: 100% !important;
    text-align: center;
    margin-bottom: 2rem;
  }

  #presentation > div:nth-child(1) > img {
    width: 50%;
  }

  #presentation div:last-of-type {
    flex-basis: 100% !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    justify-content: center;
  }

  #presentation h2 {
    top: 20px;
  }

  #presentation > div:nth-child(2) {
    text-align: left !important;
  }

  #presentation > div:nth-child(2) > div h3 {
    margin-bottom: 1rem;
    margin-right: 1rem;
  }

  #presentation > div:nth-child(2) > div {
    display: block !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  #techno {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }

  #techno h3 {
    margin-left: 0 !important;
  }

  #motion-snk #container > div:nth-child(3) {
    display: block !important;
  }

  #motion-snk #container > div:nth-child(3) div {
    width: 100% !important;
  }

  #motion-snk #container div:nth-child(3) div:nth-child(2) {
    padding-left: 0 !important;
  }

  #motion-snk img.snk {
    max-width: 60% !important;
    justify-self: center;
    text-align: center;
  }

  #motion-snk #container > div:nth-child(3) > div:nth-child(1) {
    justify-content: center;
  }

  #motion-snk #container > div.video > video {
    width: 100% !important;
    max-width: 100%;
  }

  * {
    cursor: auto !important;
  }

  .g-cursor {
    display: none !important;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  #about h1 {
    font-size: 150px;
  }

  #about .container {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }

  #about #presentation div:last-of-type {
    flex-basis: 70%;
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
@media (min-width: 1195px) and (max-width: 1680px) {
  #about .container {
    padding-right: 5rem !important;
    padding-left: 5rem !important;
  }
}

/*# sourceMappingURL=base.css.map */
